<%- include ('templates/header'); -%>
<%- include ('templates/navbar2'); -%>
<br>
<body class = "userPage" style="text-align:center">
    <div class="container">
    <form action='/user/<%=userInfo.userId%>' method='POST'>
        <div class="row">
            <div class="col-md-offset-4 col-md-4 text-center">
                  <div class="form-login"></br>
                    <h4 class="smoltitle">Login</h4>
                    </br>
                    <input type='text' class="form-control input-sm chat-input"  name='email' value=<%=userInfo.email%>>
                    <div class="wrapper">
                            <span class="group-btn">
                                <button href="/userprofile"class='button btn'>Update Profile</button>
                            </span>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </div>
</body>
<%- include ('templates/footer'); -%>