<%- include ('templates/header'); -%>
    <body>
        <h2>Subject: <%=category%></h2>
        <h2>Difficulty: <%=difficulty%></h2>
        <h2>Grade Level: <%=grade%></h2>
        <%var questionNumber = 1; %>
        
        <form action="/submittest" method="POST">
            <%qList.forEach(function(q) {%>
                <h5> <%=q.question%></h5> <br>
                <input type="text" id="questionNumber<%=questionNumber%>" name="questionNumber<%=questionNumber%>" class="userInput" required>
                <span id="questionAnswer<%=questionNumber%>" hidden><%=q.answer%></span> <br>
                <%questionNumber++;%>
            <% });%>
            
            <button>Submit Test</button>
        </form>
        
    </body>
<%- include ('templates/footer'); -%>