<%- include ('templates/header'); -%>
<%- include ('templates/navbar2'); -%>
<body class = "userPage">
<div class="container emp-profile">
            <!--<form method="post">-->
            <form action='/user/<%=userInfo[0].username%>/updatepicture' method='POST' enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <div>
                            <img alt="User Pic" src="/images/uploaded_images/<%=userInfo[0].profile_img%>">
                            </div>
                                <% if(isUser) {%>
                                <div class="file btn btn-lg btn-primary">
                                    Change Photo
                                    <input class="form-control" type="file" name="uploaded_image" accept=""/>
                                </div>
                                <div>
                                <button type="submit" class='button btn'>Update Profile Picture</button>
                                <% } %>
                            </div>
                                
                    </div>
                </div>
            </form>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h5 id = 'userName' class = "userNombre">
                                        <%=userInfo[0].username%>
                                    </h5>
                                    <h6>
                                        
                                    </h6>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link " id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Records</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="col-md-2">
                        <!--<input ty'pe="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>-->
                        <% if(isUser) {%>
                        <a href='/user/<%=userInfo[0].username%>/updateemail' class='profile-edit-btn'>Edit Profile</a>
                        <% } %>
                    </div>
                    
                    
                </div>
                    <div class="col-md-10">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <br>
                                    <table class="table table-border">
                                        <thead class="thead-dark">
                                          <tr>
                                            <th>Firstname</th>
                                            <th>Email</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <td><%=userInfo[0].username%></td>
                                            <td><%=userInfo[0].email%></td>
                                          </tr>
                                        </tbody>
                                      </table>        
                    </div>
                
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                                <ul class="list-group quizTitle infouser" >
                                                    <%list.forEach( (l) => { %>
                                                        <label>QUIZ ATTEMPT: <%=l.quizAttemptId%></label>
                                                        <li class="list-group-item list-group-item-dark">GRADE LEVEL: <%=l.gradeLvl%></li>
                                                        <li class="list-group-item list-group-item-danger">CATEGORY: <%=l.category%></li>
                                                        <li class="list-group-item list-group-item-success">QUIZ SCORES: <%=l.testScore%></li>
                                                        <li class="list-group-item list-group-item-warning">DATE OF SUBMISSION: <%=l.submissionDate%></li>
                                                        <li class="list-group-item list-group-item-info">NUMBER OF CORRECT ANSWERS:<%=l.numRightAns%></li>
                                                        <li class="list-group-item list-group-item-danger">TOTAL QUESTIONS ANSWERED: <%=l.totalQuestions%></li>
                                                        <br>
                                                    <% });%>
                                                </ul>
             
</body>
<%- include ('templates/footer'); -%>