<%- include ('templates/header'); -%>
<%- include ('templates/navbar2'); -%>
    <div class = 'jumbotron move'>
		<h1 class="title"> Welcome </h1> <br>
  		<h1 id = 'userName'><%=userInfo.username%></h1>
  		<form action='/user/<%=userInfo.userId%>' method='POST'>
  	    <br>
  	    <h3 class = 'liltitle3'> Update Profile</h3>
        <div class='col-sm-20'>
            <input type='text'  name='email' value=<%=userInfo.email%>>
		</div>
		<br>
		<br>
		<button class="btn btn-md">Update Profile</button>
    </form>
    </div>
    
    <br>
    <br>
    <div class="flip-card">
	  <div class="flip-card-inner">
	    <div class="flip-card-front">
	       <img src="https://png.pngtree.com/png-vector/20190729/ourlarge/pngtree-male-man-person-abstract-flat-color-icon-template-png-image_1622081.jpg" alt="cheesePic" style="width:500px;height:500px;">
	    </div>
	    <div class="flip-card-back">
	    	<h3 class="liltitle2"> Email </h3> <br>
	    	    <div class="lilbox">
		  		<h3 id = 'lilBoxTitile'><%=userInfo.email%></h3>
				</div>
            </div>
        </div>
	</div>
<%- include ('templates/footer'); -%>
