<%- include ('templates/header'); -%>
<%- include ('templates/navbar2'); -%>
<body class = "userPage">
<div class="container emp-profile">
            <!--<form method="post">-->
            <form action='/user/<%=userInfo.username%>/updatepicture' method='POST' enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <div>
                            <img alt="User Pic" src="/images/uploaded_images/<%=userInfo.profile_img%>">
                            </div>
                                <% if(isUser) {%>
                                <div class="file btn btn-lg btn-primary">
                                    Change Photo
                                    <input class="form-control" type="file" name="uploaded_image" accept=""/>
                                </div>
                                <div>
                                <button type="submit" class='button btn'>Update Profile Picture</button>
                                <% } %>
                            </div>
                                
                    </div>
                </div>
            </form>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h5 id = 'userName'>
                                        <%=userInfo.username%>
                                    </h5>
                                    <h6>
                                        Grade 1st
                                    </h6>
                                    <p class="proile-rating">RANKINGS : <span>8/10</span></p>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                                </li>
                                <!--<li class="nav-item">-->
                                <!--    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>-->
                                <!--</li>-->
                            </ul>
                        </div>
                    </div>
                    
                    <div class="col-md-2">
                        <!--<input ty'pe="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>-->
                        <% if(isUser) {%>
                        <a href='/user/<%=userInfo.username%>/updateemail' class='profile-edit-btn'>Edit Profile</a>
                        <% } %>
                    </div>
                    
                    
                </div>
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <%=userInfo.username%>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-6">
                                                <%=userInfo.email%>
                                            </div>
                                        </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
</body>
<%- include ('templates/footer'); -%>
